@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-wrapper {
	place-items: center;
}

* {
	scroll-behavior: smooth;
}

.swiper * {
	transition: all ease 300ms;
}

.swiper-pagination .swiper-pagination-bullet {
	background-color: #6568c5 !important;
}

.swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
	background-color: #6568c5 !important;
}

:root {
	--swiper-theme-color: #6568c5 !important;
}

::marker {
	color: #6568c5;
}

.debug * {
	outline: 1px solid hsla(0, 100%, 50%, 0.5);
}

/* html::-webkit-scrollbar {
	display: none;
} */