@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-wrapper {
	place-items: center;
}

* {
	scroll-behavior: smooth;
}

.swiper * {
	transition: all ease 300ms;
}

.swiper-pagination .swiper-pagination-bullet {
	background-color: #6568c5 !important;
}

.swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
	background-color: #6568c5 !important;
}

:root {
	--swiper-theme-color: #6568c5 !important;
}

::marker {
	color: #6568c5;
}

.debug * {
	outline: 1px solid hsla(0, 100%, 50%, 0.5);
}

/* html::-webkit-scrollbar {
	display: none;
} */

.flip-book {
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
	display: none;
	background-size: cover;
}

.page {
	padding: 20px;

	background-color: #f5f5f5;
	color: black;
	border: solid 1px hsl(35, 20, 70);

	overflow: hidden;

	.page-content {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: stretch;

		.page-header {
			height: 30px;
			font-size: 100%;
			text-transform: uppercase;
			font-weight: bolder;
			text-align: center;
		}

		.page-image {
			height: 100%;
			background-size: contain;
			background-position: center center;
			background-repeat: no-repeat;
		}

		.page-text {
			height: 100%;
			flex-grow: 1;
			font-size: 100%;
			text-align: justify;
			margin-top: 10px;
			font-weight: bolder;
			padding-top: 10px;
			box-sizing: border-box;
			border-top: solid 1px hsl(35, 55, 90);
		}

		.page-footer {
			height: 30px;
			border-top: solid 1px hsl(35, 55, 90);
			font-size: 80%;
			color: hsl(35, 20, 50);
		}
	}

	&.--left {
		// for left page (property will be added automatically)
		border-right: 0;
		box-shadow: inset -7px 0 30px -7px rgba(0, 0, 0, 0.4);
	}

	&.--right {
		// for right page (property will be added automatically)
		border-left: 0;
		box-shadow: inset 7px 0 30px -7px rgba(0, 0, 0, 0.4);

		.page-footer {
			text-align: right;
		}
	}

	&.hard {
		// for hard page
		background-color: hsl(35, 50, 90);
		border: solid 1px hsl(35, 20, 50);
	}

	&.page-cover {
		background-color: #1e1616;
		color: white;
		border: solid 1px hsl(35, 20, 50);

		h2 {
			text-align: center;
			padding-top: 50%;
			font-size: 210%;
			font-weight: bold;
		}

		p {
			text-align: center;
			font-size: 100%;
		}

		&.page-cover-top {
			box-shadow: inset 0px 0 30px 0px rgba(36, 10, 3, 0.5), -2px 0 5px 2px rgba(0, 0, 0, 0.4);
		}

		&.page-cover-bottom {
			box-shadow: inset 0px 0 30px 0px rgba(36, 10, 3, 0.5), 10px 0 8px 0px rgba(0, 0, 0, 0.4);
		}
	}
}

.header-dropdown-wrap {
	&:hover .header-menu {
		@apply visible opacity-100 transition-all;
	}
	.header-menu {
		@apply invisible opacity-0;
	}
}

.header--mobile-dropdown-wrap {
	&:hover .header-mobile-menu {
		@apply visible opacity-100 h-full;
	}
	.header-mobile-menu {
		@apply invisible opacity-0 transition-all h-0 pl-4;
	}
}