@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black-gradient: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #11101d 70.61%
  );
  --black-gradient-timeline: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #a22c49 -78.47%,
    #11101d 80.61%
  );
  --black-gradient-utility: linear-gradient(
    144.39deg,
    #ffffff -300.56%,
    #a22c49 -78.47%,
    #11101d 80.61%
  );
  --card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

* {
  scroll-behavior: smooth;
}

.text-gradient {
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #646666 0.89%,
    #444646 17.23%,
    #414242 42.04%,
    #343535 55.12%,
    #2d2f2f 71.54%,
    #323333 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.bg-blue-gradient {
  background: linear-gradient(
    157.81deg,
    #def9fa -43.27%,
    #bef3f5 -21.24%,
    #9dedf0 12.19%,
    #7de7eb 29.82%,
    #5ce1e6 51.94%,
    #33bbcf 90.29%
  );
}

.bg-black-gradient {
  background: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-black-gradient-2 {
  background: linear-gradient(
    -168.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-gray-gradient {
  background: linear-gradient(
    153.47deg,
    rgba(255, 255, 255, 0) -341.94%,
    #14101d 95.11%
  );
}

.bg-discount-gradient {
  background: linear-gradient(125.17deg, #272727 0%, #11101d 100%);
}

.box-shadow {
  box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

.sidebar {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.feature-card:hover {
  background: var(--black-gradient);
  box-shadow: var(--card-shadow);
}

.feedback-container .feedback-card:last-child {
  margin-right: 0px;
}

.our-mission {
  background-color: #a22c49;
  border: 2px solid rgb(59, 62, 157);
  box-shadow: var(--card-shadow);
}

.timeline-content-card {
  background: var(--black-gradient-timeline);
  box-shadow: var(--card-shadow);
}

.nft-utility-container {
  background: url("../src/assets/background-neon-v1.png");
  background-size: cover;
  background-position: center;
}

.nft-utility-card { 
  border: 2px solid rgb(59, 62, 157);
  margin-right: 2.5rem;
  margin-left: 2.5rem;
  margin-bottom: 2.5rem;
}

.blue__gradient {
  background: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #214d76 100%);
  filter: blur(123px);
}

.pink__gradient {
  background: linear-gradient(90deg, #f4c4f3 0%, #fc67fa 100%);
  filter: blur(900px);
}

.white__gradient {
  background: rgba(255, 255, 255, 0.6);
  filter: blur(750px);
}

.un_level_color {
  color: #a22c49;
}

.bg-un-level {
  background-color: #a22c49;
}

.disabled-button {
  cursor: not-allowed;
}

.bg-launch-app {
  opacity: 1; 
  background: linear-gradient(90deg, rgb(68, 68, 68) 0%, rgb(106, 106, 109) 100%) 0% 0% no-repeat padding-box padding-box transparent;
}

.m-auto {
  margin:auto;
}

.bb-dashed {
  border-bottom: 1px dashed #000;
}
